.main-banner {
  background-size: 1030px;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  padding: 100px 20px;
  text-align: center;
}


.main-banner-content {
  max-width: 900px;
  margin: auto;
}

.main-banner h1 {
  font-size: 3rem;
}

.subheading {
  font-size: 1.3rem;
  margin-bottom: 24px;
  opacity: 0.85;
}

.main-banner-button {
  padding: 14px 28px;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.main-banner-button:hover {
  background-color: Black;
}

@media (max-width: 768px) {
  .main-banner h1 {
    font-size: 2rem;
  }

  .subheading {
    font-size: 1rem;
  }

  .main-banner-button {
    padding: 12px 24px;
    font-size: 0.95rem;
  }
}

